{% extends "bootstrap/base.html" %} {% block title %}Swify!{% endblock %} {% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle Navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="/">Swify!</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/">About the team</a></li>
                <li><a href="/">Donate</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %} {% block content %}
<div class="container" align="center">
    <div class="page-header">
        <h1>Welcome to Swify!</h1>
    </div>
    <form method="POST">
        {{ form.hidden_tag() }}
        <p>{{ form.url.label }} {{ form.url()}}</p>
        <p>{{ form.submit }}</p>
    </form>
</div>
{% endblock %}